<div class="container">
    <div class="row">
        <div class="12u">
            <!-- Header -->
            <header id="header">
                <!-- Logo -->
                <div id="logo">
                    <h1><a href="/" id="logo">Kodokuman</a></h1>
                    <span>Git hub用のページ作成中</span>
                </div>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        {% if page.url == '/index.html' %}
                        <li class="current_page_item"><a href="{{ site.url }}">ホーム</a></li>
                        {% else %}
                        <li><a href="{{ site.url }}">ホーム</a></li>
                        {% endif %}
                        {% if page.url == '/pages/about.html' %}
                        <li class="current_page_item"><a href="{{ site.url }}pages/about.html">Kodokumanについて</a></li>
                        {% else %}
                        <li><a href="{{ site.url }}pages/about.html">Kodokumanについて</a></li>
                        {% endif %}
                        {% if page.url == '/pages/projects.html' %}
                        <li class="current_page_item"><a href="{{ site.url }}pages/projects.html">プロジェクト</a></li>
                        {% else %}
                        <li><a href="{{ site.url }}pages/projects.html">プロジェクト</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</div>